// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ArticleWrap {
  margin: 0 auto;
  padding: 24px;
  max-width: 600px;
  background: #e6e6e6;

  .ArticleTitle {
    text-align: center;
  }

  .ArticleContent {

  }

  .ArticleCoverImage {
    width: 100%;
  }
}

.ArticleActions {
  margin: 24px 0;
  text-align: center;
}